.aq-rec-main{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	min-height: 100px;
	background: #bfc1c2;
	font-size:10px !important;
}

#aq_videos{
	border-color: gray;
    border-style: solid;
}

#aq_books{
	border-color: gray;
    border-style: solid;
}

.video-container{
	padding: 10px;
}

.book-container{
	padding: 10px;
}

#aq_videos ul li{
	list-style-type: none;
}

.aq-question{
	position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 100px;
    background: #ffffA5;
    z-index: 1000;
}
